<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm" *ngIf="showMenu()">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      <i class="fa fa-users mb-2"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav">
        <ng-container *ngIf="(accountService.currentUser$ | async) != null">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="eventos/lista">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="palestrantes">Palestrantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="contatos">Contatos</a>
          </li>
        </ng-container>
      </ul>
    </div>
    <div *ngIf="(accountService.currentUser$ | async) == null" class="navbar-nav mr-3 d-xs-none d-none d-md-block">
      <a class=" btn btn-light mr-2 border" routerLink="/user/login">Entrar</a>
      <a class=" btn btn-warning" routerLink="/user/registration">Me Cadastrar</a>
    </div>
    <div *ngIf="(accountService.currentUser$ | async) != null" class="btn-group d-flex p-3" dropdown>
      <button *ngIf="(accountService.currentUser$ | async) as user" id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
              aria-controls="dropdown-basic">
        {{ user.userName | titlecase }}
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" routerLink="user/perfil">Perfil</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Sair</a></li>
      </ul>
    </div>
  </div>
</nav>
